.review-form-container {
  margin: auto;
  width: 600px;
  margin-top: 10px;
  background-color: rgb(245, 235, 235);
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 1px 2px 5px 1px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-form-container textarea {
  max-height: 75px;
  height: 75px;
  min-height: 75px;
  max-width: 600px;
  min-width: 600px;
}

.hideReview {
  margin-top: 35px;
  margin-left: 46.5%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  border: 1px solid black;
  color: white;
  background-color: hsl(263, 28%, 24%);
}

.hideReview:hover {
  background-color: hsl(263, 30%, 39%);
  transition: 0.3s ease;
  cursor: pointer;
}

.submit-button-revAdd {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.stars-container {
  text-align: center;
}

.submit-button-revAdd button {
  width: 75%;
  padding: 3px;
  font-size: 16px;
  color: white;
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 3px;
}

.submit-button-revAdd button:hover {
  background-color: hsl(271, 91%, 63%);
  transition: ease 0.25s;
  cursor: pointer;
}
