.login-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 220px;
  width: 400px;
  margin: auto;
  margin-top: 250px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-left: 420px;
}

.login-form input {
  font-size: 25px;
  padding: 5px;
  margin-bottom: 7px;
  width: 385px;
}

.login-form {
  margin-top: 15px;
}

.submit {
  font-size: 20px;
  color: white;
  background-color: rgb(149, 44, 175);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-bottom: 9px;
  margin-top: 3px;
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(185, 70, 214);
  transition: 0.3s ease;
}

.login-page-container {
  display: flex;
  margin-top: 100px;
}

.login-page-container img {
  margin-left: 100px;
}

.login-form span {
  color: red;
}

.not-found-span {
  display: flex;
  justify-content: center;
}
